<%-include("partials/home-header")%>

  <div class="list-group authorsList">
    <%authors.forEach(function(author){%>
      <a type="button" href="/authors/<%=author._id%>" class="btn list-group-item btn-secondary"><%=author.authorName%></a>
    <%});%>
  </div>

<%-include("partials/footer")%>
