<%-include("partials/home-header");%>

<div class="row">
  <div class="col-md-4">
    <img src="C:/Users/kingk/Downloads/MyImage" alt="Kireet Image">
  </div>
  <div class="col-md-8">
    <div class="page-layout">
      <h1>Kireet Gannavarapu</h1>
      <p>Hi, I am Kireet. Btech CSC of 2018-22 batch. I am the founder of E-Tsunduko and ofc the first chief editor</p>
      <h2>Works</h2>
      <p></p>
    </div>
  </div>
</div>

<%-include("partials/footer");%>
