<%- include("partials/home-header"); %>

<div class="row">

  <div class="col-md-9">

    <div class="card">
      <div class="card-body">

        <div class="row">

          <div class="col-md-4">
            <img class="card-img-top" src="https://picsum.photos/320" alt="Card image cap">
          </div>

          <div class="col-md-8">
            <div class="card-header">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text" style="text-align:right;">By Kireet</p>
            </div>
            <p class="card-text">Quick Example text ma frienddddddQuick Example text ma frienddddddQuick Example text ma friendddddd
            Quick Example text ma frienddddddQuick Example text ma friendddddd</p>
            <a href="#" class="btn btn-primary">Read More</a>
            <div class="card-footer">
              <p class="card-text">April, 2020</p>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

  <div class="col-md-3">

  </div>
</div>





<%- include("partials/home-footer"); %>
