<%- include("partials/post-header"); %>

<div>
  <img src="<%=result.imageUrl%>" style="width:100%;height:auto" alt="cover image">
</div>

<div id="body" class="container">

  <div class="page-layout">
    <h1 class="page-title"><%=result.title%></h1>
    <p class="page-article"><%=result.content%></p>
  </div>
